/* Font imports */

@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto-Light.ttf");
    font-weight: 300;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto-MediumItalic.ttf");
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto-Bold.ttf");
    font-weight: bold;
  }

  @font-face {
    font-family: "Playfair";
    src: url("/assets/fonts/PlayfairDisplay-Regular.ttf");
    font-weight: 400;
  }
  
  html,
  body {
    font-family: "Roboto", sans-serif;
  }

  .title {
    padding-top: 10px;
    margin: 0;
    color: lightslategrey;
    font-weight: 300;
    font-size: 32px;
  }

  .o {
      color: salmon;
      font-style: italic;
      font-size: 40px;
  }

  h2 {
    font-family: Playfair, serif;
    font-size: 8px;
    color: salmon;
    letter-spacing: 1px;
    padding: 10px;
  }

  .nav-btn {
    padding-top: 10px;
    text-align: right;
  }