.author {
    size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: salmon;
}

.post-content {
    font-family: Playfair, serif;
    font-size: 18px;
    letter-spacing: 1px;
    color: grey;
    line-height: 30px;
}

.blogPost {
    min-height: 250px;
    padding: 15px;
    margin-top: 50px;
    border: solid silver 1px;
    text-align: center;
}

.separator {
    color: grey;
}